fastapi==0.104.1
uvicorn==0.24.0
pymongo==4.6.1
python-dotenv==1.0.0
pydantic==2.5.2
pydantic-settings==2.1.0
python-multipart==0.0.6
passlib[bcrypt]==1.7.4
pyjwt==2.8.0
google-generativeai==0.8.3
pillow==10.3.0
passlib==1.7.4
bcrypt==3.2.2